.list-item {
	border: solid 1px #00000075;
	-webkit-box-shadow: 5px 5px 12px #00000075;
	-moz-box-shadow: 5px 5px 12px #00000075);
	box-shadow: 5px 5px 12px #00000075;
	padding: 15px 0px 15px 0px;
	border-radius: 5px;
	margin-bottom: 15px;
	min-height: 100%;
	display:flex;
	flex-wrap: wrap;
}

.archive-list {
	margin-bottom: 25px;
}

.list-item:last-child{
	border: solid 1px #00000075;
}

.list-item .list-subtext {
	text-align: right;
}

.list-item .list-text {
	font-size: 18px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.list-buttons button {
	float: right;
	font-size: 12px;
	margin-right:2px; 
	padding:2px;
	border-radius:5px;
}

.list-buttons button:first-child { 
    margin-bottom: 3px
}

.completion-time {
	text-align: center;
	margin-top: 5px;
}

button.start-timer {
	box-shadow: 2px 2px 2px #0dc10c;
	color: ;
}

button.stop-timer {
	box-shadow: 2px 2px 2px #d80e0e;
}

button.start-timer:hover {
	box-shadow: 3px 3px 5px #0dc10c;
}

button.stop-timer:hover {
	box-shadow: 3px 3px 5px #d80e0e;
}
button.start-timer:hover i{
	color: #0dc10c;
}

button.stop-timer:hover i{
	color: #d80e0e;
}

.active-notifications {
	position: absolute;
	bottom: 25px;
	right: 22px;
	color: black;
	background-color: #d80e0e;
	z-index: 2;
	height: 20px;
	width: 20px;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bolder;
	text-align: center;
}